<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getToken</key>
	<string>/token</string>
	<key>refreshToken</key>
	<string>/token/refresh</string>
	<key>getMe</key>
	<string>/me</string>
	<key>getHives</key>
	<string>/hives</string>
	<key>getHiveDetail</key>
	<string>/hives/</string>
	<key>resetPassword</key>
	<string>/forget-password</string>
	<key>getMeasures</key>
	<string>/measures/</string>
	<key>getNotifications</key>
	<string>/notifications</string>
	<key>getAlerts</key>
	<string>/alerts</string>
</dict>
</plist>
